body{font-family:Arial;margin:0;background:#f2f5f7}
nav{background:#1e2a38;padding:15px}
nav h2,nav a{color:white;margin-right:15px;text-decoration:none}
.hero{text-align:center;padding:120px}
.btn{background:#0077ff;color:white;padding:10px 18px;border:none;text-decoration:none;cursor:pointer}
.grid{display:flex;gap:20px;justify-content:center;margin-top:40px}
.card{background:white;padding:20px;width:220px;box-shadow:0 0 10px #ddd}
.title{text-align:center;margin-top:40px}
.progress{width:300px;height:20px;background:#ddd;margin:auto}
#bar{height:20px;width:0%;background:#28a745}
.progressBox{text-align:center;margin-top:50px}